<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>01-Breakout-Tiles.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{384,128}</string>
                <key>spriteSourceSize</key>
                <string>{384,128}</string>
                <key>textureRect</key>
                <string>{{768,128},{384,128}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>02-Breakout-Tiles.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{384,128}</string>
                <key>spriteSourceSize</key>
                <string>{384,128}</string>
                <key>textureRect</key>
                <string>{{1152,256},{384,128}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>03-Breakout-Tiles.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{384,128}</string>
                <key>spriteSourceSize</key>
                <string>{384,128}</string>
                <key>textureRect</key>
                <string>{{0,384},{384,128}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>04-Breakout-Tiles.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{384,128}</string>
                <key>spriteSourceSize</key>
                <string>{384,128}</string>
                <key>textureRect</key>
                <string>{{1536,256},{384,128}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>05-Breakout-Tiles.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{384,128}</string>
                <key>spriteSourceSize</key>
                <string>{384,128}</string>
                <key>textureRect</key>
                <string>{{768,256},{384,128}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>06-Breakout-Tiles.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{384,128}</string>
                <key>spriteSourceSize</key>
                <string>{384,128}</string>
                <key>textureRect</key>
                <string>{{384,256},{384,128}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>07-Breakout-Tiles.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{384,128}</string>
                <key>spriteSourceSize</key>
                <string>{384,128}</string>
                <key>textureRect</key>
                <string>{{1536,128},{384,128}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>08-Breakout-Tiles.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{384,128}</string>
                <key>spriteSourceSize</key>
                <string>{384,128}</string>
                <key>textureRect</key>
                <string>{{1152,128},{384,128}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>09-Breakout-Tiles.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{384,128}</string>
                <key>spriteSourceSize</key>
                <string>{384,128}</string>
                <key>textureRect</key>
                <string>{{0,256},{384,128}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>10-Breakout-Tiles.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{384,128}</string>
                <key>spriteSourceSize</key>
                <string>{384,128}</string>
                <key>textureRect</key>
                <string>{{384,512},{384,128}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>11-Breakout-Tiles.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{384,128}</string>
                <key>spriteSourceSize</key>
                <string>{384,128}</string>
                <key>textureRect</key>
                <string>{{1536,512},{384,128}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>12-Breakout-Tiles.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{384,128}</string>
                <key>spriteSourceSize</key>
                <string>{384,128}</string>
                <key>textureRect</key>
                <string>{{768,512},{384,128}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>13-Breakout-Tiles.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{384,128}</string>
                <key>spriteSourceSize</key>
                <string>{384,128}</string>
                <key>textureRect</key>
                <string>{{1152,512},{384,128}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>14-Breakout-Tiles.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{384,128}</string>
                <key>spriteSourceSize</key>
                <string>{384,128}</string>
                <key>textureRect</key>
                <string>{{768,384},{384,128}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>15-Breakout-Tiles.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{384,128}</string>
                <key>spriteSourceSize</key>
                <string>{384,128}</string>
                <key>textureRect</key>
                <string>{{1152,384},{384,128}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>16-Breakout-Tiles.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{384,128}</string>
                <key>spriteSourceSize</key>
                <string>{384,128}</string>
                <key>textureRect</key>
                <string>{{0,512},{384,128}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>17-Breakout-Tiles.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{384,128}</string>
                <key>spriteSourceSize</key>
                <string>{384,128}</string>
                <key>textureRect</key>
                <string>{{1536,384},{384,128}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>18-Breakout-Tiles.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{384,128}</string>
                <key>spriteSourceSize</key>
                <string>{384,128}</string>
                <key>textureRect</key>
                <string>{{384,384},{384,128}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>19-Breakout-Tiles.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{384,128}</string>
                <key>spriteSourceSize</key>
                <string>{384,128}</string>
                <key>textureRect</key>
                <string>{{384,128},{384,128}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>20-Breakout-Tiles.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{384,128}</string>
                <key>spriteSourceSize</key>
                <string>{384,128}</string>
                <key>textureRect</key>
                <string>{{0,128},{384,128}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>21-Breakout-Tiles.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{128,128}</string>
                <key>spriteSourceSize</key>
                <string>{128,128}</string>
                <key>textureRect</key>
                <string>{{531,0},{128,128}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>22-Breakout-Tiles.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{128,128}</string>
                <key>spriteSourceSize</key>
                <string>{128,128}</string>
                <key>textureRect</key>
                <string>{{403,0},{128,128}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>23-Breakout-Tiles.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{128,128}</string>
                <key>spriteSourceSize</key>
                <string>{128,128}</string>
                <key>textureRect</key>
                <string>{{275,0},{128,128}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>24-Breakout-Tiles.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{128,128}</string>
                <key>spriteSourceSize</key>
                <string>{128,128}</string>
                <key>textureRect</key>
                <string>{{147,0},{128,128}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>25-Breakout-Tiles.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{128,128}</string>
                <key>spriteSourceSize</key>
                <string>{128,128}</string>
                <key>textureRect</key>
                <string>{{19,0},{128,128}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>26-Breakout-Tiles.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{128,128}</string>
                <key>spriteSourceSize</key>
                <string>{128,128}</string>
                <key>textureRect</key>
                <string>{{659,0},{128,128}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>27-Breakout-Tiles.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{128,128}</string>
                <key>spriteSourceSize</key>
                <string>{128,128}</string>
                <key>textureRect</key>
                <string>{{787,0},{128,128}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>28-Breakout-Tiles.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{128,128}</string>
                <key>spriteSourceSize</key>
                <string>{128,128}</string>
                <key>textureRect</key>
                <string>{{1427,0},{128,128}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>29-Breakout-Tiles.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{128,128}</string>
                <key>spriteSourceSize</key>
                <string>{128,128}</string>
                <key>textureRect</key>
                <string>{{1299,0},{128,128}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>30-Breakout-Tiles.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{128,128}</string>
                <key>spriteSourceSize</key>
                <string>{128,128}</string>
                <key>textureRect</key>
                <string>{{1555,0},{128,128}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>31-Breakout-Tiles.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{485,128}</string>
                <key>spriteSourceSize</key>
                <string>{485,128}</string>
                <key>textureRect</key>
                <string>{{485,768},{485,128}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>32-Breakout-Tiles.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{485,128}</string>
                <key>spriteSourceSize</key>
                <string>{485,128}</string>
                <key>textureRect</key>
                <string>{{485,640},{485,128}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>33-Breakout-Tiles.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{485,128}</string>
                <key>spriteSourceSize</key>
                <string>{485,128}</string>
                <key>textureRect</key>
                <string>{{1455,1024},{485,128}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>34-Breakout-Tiles.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{485,128}</string>
                <key>spriteSourceSize</key>
                <string>{485,128}</string>
                <key>textureRect</key>
                <string>{{970,1024},{485,128}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>35-Breakout-Tiles.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{485,128}</string>
                <key>spriteSourceSize</key>
                <string>{485,128}</string>
                <key>textureRect</key>
                <string>{{0,1152},{485,128}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>36-Breakout-Tiles.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{485,128}</string>
                <key>spriteSourceSize</key>
                <string>{485,128}</string>
                <key>textureRect</key>
                <string>{{485,1024},{485,128}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>37-Breakout-Tiles.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{485,128}</string>
                <key>spriteSourceSize</key>
                <string>{485,128}</string>
                <key>textureRect</key>
                <string>{{1455,896},{485,128}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>38-Breakout-Tiles.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{485,128}</string>
                <key>spriteSourceSize</key>
                <string>{485,128}</string>
                <key>textureRect</key>
                <string>{{485,1152},{485,128}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>39-Breakout-Tiles.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{485,128}</string>
                <key>spriteSourceSize</key>
                <string>{485,128}</string>
                <key>textureRect</key>
                <string>{{485,1280},{485,128}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>40-Breakout-Tiles.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{485,128}</string>
                <key>spriteSourceSize</key>
                <string>{485,128}</string>
                <key>textureRect</key>
                <string>{{970,1280},{485,128}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>41-Breakout-Tiles.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{485,128}</string>
                <key>spriteSourceSize</key>
                <string>{485,128}</string>
                <key>textureRect</key>
                <string>{{1455,1280},{485,128}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>42-Breakout-Tiles.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{485,128}</string>
                <key>spriteSourceSize</key>
                <string>{485,128}</string>
                <key>textureRect</key>
                <string>{{0,1280},{485,128}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>43-Breakout-Tiles.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{485,128}</string>
                <key>spriteSourceSize</key>
                <string>{485,128}</string>
                <key>textureRect</key>
                <string>{{1455,1152},{485,128}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>44-Breakout-Tiles.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{485,128}</string>
                <key>spriteSourceSize</key>
                <string>{485,128}</string>
                <key>textureRect</key>
                <string>{{970,1152},{485,128}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>45-Breakout-Tiles.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{485,128}</string>
                <key>spriteSourceSize</key>
                <string>{485,128}</string>
                <key>textureRect</key>
                <string>{{0,1024},{485,128}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>46-Breakout-Tiles.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{485,128}</string>
                <key>spriteSourceSize</key>
                <string>{485,128}</string>
                <key>textureRect</key>
                <string>{{0,896},{485,128}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>47-Breakout-Tiles.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{485,128}</string>
                <key>spriteSourceSize</key>
                <string>{485,128}</string>
                <key>textureRect</key>
                <string>{{970,896},{485,128}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>48-Breakout-Tiles.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{485,128}</string>
                <key>spriteSourceSize</key>
                <string>{485,128}</string>
                <key>textureRect</key>
                <string>{{1455,640},{485,128}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>49-Breakout-Tiles.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{488,128}</string>
                <key>spriteSourceSize</key>
                <string>{488,128}</string>
                <key>textureRect</key>
                <string>{{0,1408},{488,128}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>50-Breakout-Tiles.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{485,128}</string>
                <key>spriteSourceSize</key>
                <string>{485,128}</string>
                <key>textureRect</key>
                <string>{{0,640},{485,128}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>51-Breakout-Tiles.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{485,128}</string>
                <key>spriteSourceSize</key>
                <string>{485,128}</string>
                <key>textureRect</key>
                <string>{{970,640},{485,128}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>52-Breakout-Tiles.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{485,128}</string>
                <key>spriteSourceSize</key>
                <string>{485,128}</string>
                <key>textureRect</key>
                <string>{{970,768},{485,128}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>53-Breakout-Tiles.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{485,128}</string>
                <key>spriteSourceSize</key>
                <string>{485,128}</string>
                <key>textureRect</key>
                <string>{{0,768},{485,128}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>54-Breakout-Tiles.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{485,128}</string>
                <key>spriteSourceSize</key>
                <string>{485,128}</string>
                <key>textureRect</key>
                <string>{{485,896},{485,128}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>55-Breakout-Tiles.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{485,128}</string>
                <key>spriteSourceSize</key>
                <string>{485,128}</string>
                <key>textureRect</key>
                <string>{{1455,768},{485,128}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>56-Breakout-Tiles.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{693,128}</string>
                <key>spriteSourceSize</key>
                <string>{693,128}</string>
                <key>textureRect</key>
                <string>{{488,1408},{693,128}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>57-Breakout-Tiles.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{230,128}</string>
                <key>spriteSourceSize</key>
                <string>{230,128}</string>
                <key>textureRect</key>
                <string>{{1683,0},{230,128}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>58-Breakout-Tiles.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{128,128}</string>
                <key>spriteSourceSize</key>
                <string>{128,128}</string>
                <key>textureRect</key>
                <string>{{1171,0},{128,128}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>59-Breakout-Tiles.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{128,122}</string>
                <key>spriteSourceSize</key>
                <string>{128,122}</string>
                <key>textureRect</key>
                <string>{{1043,0},{128,122}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>60-Breakout-Tiles.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{128,116}</string>
                <key>spriteSourceSize</key>
                <string>{128,116}</string>
                <key>textureRect</key>
                <string>{{915,0},{128,116}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>61-Breakout-Tiles.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{19,41}</string>
                <key>spriteSourceSize</key>
                <string>{19,41}</string>
                <key>textureRect</key>
                <string>{{0,0},{19,41}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>data.png</string>
            <key>size</key>
            <string>{1940,1536}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:b93ebbaddfc6795f9b6e82e46e0890a2:8e7804458f451c3cee269ffccf8eb0ea:c082291575fff0c0bc337159618b425a$</string>
            <key>textureFileName</key>
            <string>data.png</string>
        </dict>
    </dict>
</plist>
