<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>01-Breakout-Tiles.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{384,128}</string>
                <key>spriteSourceSize</key>
                <string>{384,128}</string>
                <key>textureRect</key>
                <string>{{304,1},{384,128}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>02-Breakout-Tiles.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{384,128}</string>
                <key>spriteSourceSize</key>
                <string>{384,128}</string>
                <key>textureRect</key>
                <string>{{690,1},{384,128}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>03-Breakout-Tiles.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{384,128}</string>
                <key>spriteSourceSize</key>
                <string>{384,128}</string>
                <key>textureRect</key>
                <string>{{1076,1},{384,128}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>04-Breakout-Tiles.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{384,128}</string>
                <key>spriteSourceSize</key>
                <string>{384,128}</string>
                <key>textureRect</key>
                <string>{{1462,1},{384,128}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>05-Breakout-Tiles.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{384,128}</string>
                <key>spriteSourceSize</key>
                <string>{384,128}</string>
                <key>textureRect</key>
                <string>{{261,131},{384,128}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>06-Breakout-Tiles.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{384,128}</string>
                <key>spriteSourceSize</key>
                <string>{384,128}</string>
                <key>textureRect</key>
                <string>{{647,131},{384,128}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>07-Breakout-Tiles.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{384,128}</string>
                <key>spriteSourceSize</key>
                <string>{384,128}</string>
                <key>textureRect</key>
                <string>{{1033,131},{384,128}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>08-Breakout-Tiles.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{384,128}</string>
                <key>spriteSourceSize</key>
                <string>{384,128}</string>
                <key>textureRect</key>
                <string>{{1419,131},{384,128}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>09-Breakout-Tiles.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{384,128}</string>
                <key>spriteSourceSize</key>
                <string>{384,128}</string>
                <key>textureRect</key>
                <string>{{261,261},{384,128}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>10-Breakout-Tiles.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{384,128}</string>
                <key>spriteSourceSize</key>
                <string>{384,128}</string>
                <key>textureRect</key>
                <string>{{647,261},{384,128}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>11-Breakout-Tiles.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{384,128}</string>
                <key>spriteSourceSize</key>
                <string>{384,128}</string>
                <key>textureRect</key>
                <string>{{1033,261},{384,128}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>12-Breakout-Tiles.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{384,128}</string>
                <key>spriteSourceSize</key>
                <string>{384,128}</string>
                <key>textureRect</key>
                <string>{{1419,261},{384,128}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>13-Breakout-Tiles.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{384,128}</string>
                <key>spriteSourceSize</key>
                <string>{384,128}</string>
                <key>textureRect</key>
                <string>{{261,391},{384,128}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>14-Breakout-Tiles.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{384,128}</string>
                <key>spriteSourceSize</key>
                <string>{384,128}</string>
                <key>textureRect</key>
                <string>{{647,391},{384,128}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>15-Breakout-Tiles.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{384,128}</string>
                <key>spriteSourceSize</key>
                <string>{384,128}</string>
                <key>textureRect</key>
                <string>{{1033,391},{384,128}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>16-Breakout-Tiles.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{384,128}</string>
                <key>spriteSourceSize</key>
                <string>{384,128}</string>
                <key>textureRect</key>
                <string>{{1419,391},{384,128}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>17-Breakout-Tiles.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{384,128}</string>
                <key>spriteSourceSize</key>
                <string>{384,128}</string>
                <key>textureRect</key>
                <string>{{261,521},{384,128}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>18-Breakout-Tiles.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{384,128}</string>
                <key>spriteSourceSize</key>
                <string>{384,128}</string>
                <key>textureRect</key>
                <string>{{647,521},{384,128}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>19-Breakout-Tiles.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{384,128}</string>
                <key>spriteSourceSize</key>
                <string>{384,128}</string>
                <key>textureRect</key>
                <string>{{1033,521},{384,128}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>20-Breakout-Tiles.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{384,128}</string>
                <key>spriteSourceSize</key>
                <string>{384,128}</string>
                <key>textureRect</key>
                <string>{{1419,521},{384,128}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>21-Breakout-Tiles.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{128,128}</string>
                <key>spriteSourceSize</key>
                <string>{128,128}</string>
                <key>textureRect</key>
                <string>{{1,119},{128,128}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>22-Breakout-Tiles.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{128,128}</string>
                <key>spriteSourceSize</key>
                <string>{128,128}</string>
                <key>textureRect</key>
                <string>{{131,125},{128,128}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>23-Breakout-Tiles.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{128,128}</string>
                <key>spriteSourceSize</key>
                <string>{128,128}</string>
                <key>textureRect</key>
                <string>{{1805,131},{128,128}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>24-Breakout-Tiles.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{128,128}</string>
                <key>spriteSourceSize</key>
                <string>{128,128}</string>
                <key>textureRect</key>
                <string>{{1,249},{128,128}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>25-Breakout-Tiles.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{128,128}</string>
                <key>spriteSourceSize</key>
                <string>{128,128}</string>
                <key>textureRect</key>
                <string>{{131,255},{128,128}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>26-Breakout-Tiles.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{128,128}</string>
                <key>spriteSourceSize</key>
                <string>{128,128}</string>
                <key>textureRect</key>
                <string>{{1805,261},{128,128}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>27-Breakout-Tiles.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{128,128}</string>
                <key>spriteSourceSize</key>
                <string>{128,128}</string>
                <key>textureRect</key>
                <string>{{1,379},{128,128}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>28-Breakout-Tiles.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{128,128}</string>
                <key>spriteSourceSize</key>
                <string>{128,128}</string>
                <key>textureRect</key>
                <string>{{131,385},{128,128}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>29-Breakout-Tiles.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{128,128}</string>
                <key>spriteSourceSize</key>
                <string>{128,128}</string>
                <key>textureRect</key>
                <string>{{1805,391},{128,128}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>30-Breakout-Tiles.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{128,128}</string>
                <key>spriteSourceSize</key>
                <string>{128,128}</string>
                <key>textureRect</key>
                <string>{{1,509},{128,128}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>31-Breakout-Tiles.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{485,128}</string>
                <key>spriteSourceSize</key>
                <string>{485,128}</string>
                <key>textureRect</key>
                <string>{{1,651},{485,128}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>32-Breakout-Tiles.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{485,128}</string>
                <key>spriteSourceSize</key>
                <string>{485,128}</string>
                <key>textureRect</key>
                <string>{{488,651},{485,128}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>33-Breakout-Tiles.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{485,128}</string>
                <key>spriteSourceSize</key>
                <string>{485,128}</string>
                <key>textureRect</key>
                <string>{{975,651},{485,128}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>34-Breakout-Tiles.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{485,128}</string>
                <key>spriteSourceSize</key>
                <string>{485,128}</string>
                <key>textureRect</key>
                <string>{{1462,753},{485,128}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>35-Breakout-Tiles.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{485,128}</string>
                <key>spriteSourceSize</key>
                <string>{485,128}</string>
                <key>textureRect</key>
                <string>{{1,781},{485,128}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>36-Breakout-Tiles.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{485,128}</string>
                <key>spriteSourceSize</key>
                <string>{485,128}</string>
                <key>textureRect</key>
                <string>{{488,781},{485,128}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>37-Breakout-Tiles.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{485,128}</string>
                <key>spriteSourceSize</key>
                <string>{485,128}</string>
                <key>textureRect</key>
                <string>{{975,781},{485,128}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>38-Breakout-Tiles.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{485,128}</string>
                <key>spriteSourceSize</key>
                <string>{485,128}</string>
                <key>textureRect</key>
                <string>{{1462,883},{485,128}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>39-Breakout-Tiles.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{485,128}</string>
                <key>spriteSourceSize</key>
                <string>{485,128}</string>
                <key>textureRect</key>
                <string>{{1,911},{485,128}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>40-Breakout-Tiles.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{485,128}</string>
                <key>spriteSourceSize</key>
                <string>{485,128}</string>
                <key>textureRect</key>
                <string>{{488,911},{485,128}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>41-Breakout-Tiles.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{485,128}</string>
                <key>spriteSourceSize</key>
                <string>{485,128}</string>
                <key>textureRect</key>
                <string>{{975,911},{485,128}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>42-Breakout-Tiles.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{485,128}</string>
                <key>spriteSourceSize</key>
                <string>{485,128}</string>
                <key>textureRect</key>
                <string>{{1462,1013},{485,128}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>43-Breakout-Tiles.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{485,128}</string>
                <key>spriteSourceSize</key>
                <string>{485,128}</string>
                <key>textureRect</key>
                <string>{{1,1041},{485,128}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>44-Breakout-Tiles.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{485,128}</string>
                <key>spriteSourceSize</key>
                <string>{485,128}</string>
                <key>textureRect</key>
                <string>{{488,1041},{485,128}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>45-Breakout-Tiles.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{485,128}</string>
                <key>spriteSourceSize</key>
                <string>{485,128}</string>
                <key>textureRect</key>
                <string>{{975,1041},{485,128}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>46-Breakout-Tiles.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{485,128}</string>
                <key>spriteSourceSize</key>
                <string>{485,128}</string>
                <key>textureRect</key>
                <string>{{1462,1143},{485,128}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>47-Breakout-Tiles.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{485,128}</string>
                <key>spriteSourceSize</key>
                <string>{485,128}</string>
                <key>textureRect</key>
                <string>{{1,1171},{485,128}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>48-Breakout-Tiles.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{485,128}</string>
                <key>spriteSourceSize</key>
                <string>{485,128}</string>
                <key>textureRect</key>
                <string>{{488,1171},{485,128}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>49-Breakout-Tiles.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{488,128}</string>
                <key>spriteSourceSize</key>
                <string>{488,128}</string>
                <key>textureRect</key>
                <string>{{1462,1273},{488,128}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>50-Breakout-Tiles.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{485,128}</string>
                <key>spriteSourceSize</key>
                <string>{485,128}</string>
                <key>textureRect</key>
                <string>{{975,1171},{485,128}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>51-Breakout-Tiles.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{485,128}</string>
                <key>spriteSourceSize</key>
                <string>{485,128}</string>
                <key>textureRect</key>
                <string>{{1,1301},{485,128}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>52-Breakout-Tiles.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{485,128}</string>
                <key>spriteSourceSize</key>
                <string>{485,128}</string>
                <key>textureRect</key>
                <string>{{488,1301},{485,128}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>53-Breakout-Tiles.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{485,128}</string>
                <key>spriteSourceSize</key>
                <string>{485,128}</string>
                <key>textureRect</key>
                <string>{{975,1301},{485,128}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>54-Breakout-Tiles.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{485,128}</string>
                <key>spriteSourceSize</key>
                <string>{485,128}</string>
                <key>textureRect</key>
                <string>{{1462,1403},{485,128}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>55-Breakout-Tiles.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{485,128}</string>
                <key>spriteSourceSize</key>
                <string>{485,128}</string>
                <key>textureRect</key>
                <string>{{1,1431},{485,128}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>56-Breakout-Tiles.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{693,128}</string>
                <key>spriteSourceSize</key>
                <string>{693,128}</string>
                <key>textureRect</key>
                <string>{{488,1431},{693,128}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>57-Breakout-Tiles.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{230,128}</string>
                <key>spriteSourceSize</key>
                <string>{230,128}</string>
                <key>textureRect</key>
                <string>{{1805,521},{230,128}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>58-Breakout-Tiles.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{128,128}</string>
                <key>spriteSourceSize</key>
                <string>{128,128}</string>
                <key>textureRect</key>
                <string>{{131,515},{128,128}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>59-Breakout-Tiles.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{128,122}</string>
                <key>spriteSourceSize</key>
                <string>{128,122}</string>
                <key>textureRect</key>
                <string>{{174,1},{128,122}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>60-Breakout-Tiles.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{128,116}</string>
                <key>spriteSourceSize</key>
                <string>{128,116}</string>
                <key>textureRect</key>
                <string>{{44,1},{128,116}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>61-Breakout-Tiles.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{19,41}</string>
                <key>spriteSourceSize</key>
                <string>{19,41}</string>
                <key>textureRect</key>
                <string>{{1,1},{19,41}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>dataBreakPong.png</string>
            <key>size</key>
            <string>{1951,1560}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:bb1bdce5b5d95c6b073fed29e02178dc:8e7804458f451c3cee269ffccf8eb0ea:09fb6ff3fc41605b4a3bc9ee1b902745$</string>
            <key>textureFileName</key>
            <string>dataBreakPong.png</string>
        </dict>
    </dict>
</plist>
